* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

.mainContainer {
    width: 100%;
    background-color: white;
}

.subContainer {
    width: 100%;
}
/* LOGO SECTION */
.logoSection {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 230, 230);
    padding-right: 10px;
    border-radius: 4px;
}
.logo {
    background-color: rgb(95, 73, 2);
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 4px;
    font-weight: bold;
}
/* HERO SECTION */
.heroSection {
    width: 100%;
    height: 85vh;
    display: flex;
}

/* Hero left */
.heroLeft {
    width: 50%;
    background-color: rgb(230, 188, 132);
}

/* Hero right */
.heroRight {
    width: 50%;
    background-image: url("images/b4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.contentContainer {
    width: 80%;
}